{% extends 'layout-pdf.html' %}

{% block title %}Entrepreneurship{% endblock %}

{% block page_content %}

<div class="pdf-container">
  <object data="https://static.igem.wiki/teams/5064/pdfs/espersense-business-model-and-plan-v2.pdf#zoom=125" type="application/pdf" width="100%" height="800px">
    <p>Your browser requires that you <a href="https://static.igem.wiki/teams/5064/pdfs/espersense-business-model-and-plan-v2.pdf">click on this link</a> to view the entrepreneurship report.</p>
  </object>
</div>

{% endblock %}
