{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block page_content %}
<div class="banner">
  <img src="https://static.igem.wiki/teams/5064/espersense-logo-words-re-resize.png" alt="EsperSense Banner">
</div>

<div class="video-container"> 
  <iframe title="Introduction to the EsperSense Project"
    src="https://video.igem.org/videos/embed/5c002ee8-738f-48c6-a671-4707478ebabc?autoplay=1"
    frameborder="0" 
    allowfullscreen 
    sandbox="allow-same-origin allow-scripts allow-popups allow-forms">
  </iframe>
</div>
{% endblock %}
